/************** CUSTOM STYLE  *************/

.nav-item{
	font-size: 30px;
	font-family: 'Chicle', cursive;
}

.jumbotron{
	margin-top: none;
	font-weight: 20;
	text-align: center;
	background: none;
}


.container-fluid{
	width: 100% !important;
	padding: 0%;
}

.sectionLight{
 display: block;
 margin: auto;
 padding: 2rem;
}

.sectionDark{
	background: #99999999;
}

button.coolFluffBtn{
	background-color: black;
	color: #ffffff;
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

h5.modal-title{
	margin: auto;
}

.modalFormWrapper{
	padding: 2 rem;
}

.imgCenter{
	display: block;
	margin: auto;
}

.btnCenter{
	background-color: brown;
	color: #ffffff;
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 60%;
}

.fa-facebook-official {
	margin-top: none;
	color: pink;
	margin-right: 5rem;
}

.fa-instagram{
	margin-top: none;
	color: pink;
	margin-right: 5rem;
}

.fa-twitter-square {
	margin-top: none;
	color: pink;
	margin-right: 5rem;
}

.fa-paw{
	display: block;
	margin:auto;
	margin-top: 2rem;
	margin-left: 20%;
	font-size: 170px;

}

.footerText{
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: white;
	font-weight: 700;
}